In [4]:
import pandas as pd

In [11]:
df=pd.DataFrame({
    'color':['red','blue','green','green','red']
})
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [15]:
from sklearn.preprocessing import LabelEncoder
lbl_encoder=LabelEncoder()

In [17]:
lbl_encoder.fit_transform(df[['color']])

e:\udemy\venv\lib\site-packages\sklearn\preprocessing\_label.py:110: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2])

In [18]:
lbl_encoder.transform([['red']])

e:\udemy\venv\lib\site-packages\sklearn\preprocessing\_label.py:129: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([2])

ORDINAL ENCODING

In this technique, each category is assigned a numerical value based on its position in the order.
For example, if we have a categorical variable education level with four possible values like high
school, college graduate, and post graduate, we can represent it using ordinal encoding.:
1.HIGH SCOOL:1
2.COLLEGE:2
3.GRADUATE:3
4.POST-GRADUATE:4

In [19]:
from sklearn.preprocessing import OrdinalEncoder

In [20]:
df=pd.DataFrame({
    'size':['small','large','medium','small','large']
})
df

     size
0   small
1   large
2  medium
3   small
4   large

In [21]:
#create an instance of ordinalEncoder and then fit_transform
encoder=OrdinalEncoder(categories=[['small','medium','large']])

In [22]:
encoder.fit_transform(df[['size']])

array([[0.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [23]:
encoder.transform([['small']])

e:\udemy\venv\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])