In [15]:
import pandas as pd

In [2]:
#create a sample dataframe with a categorical variable and target variable
df=pd.DataFrame({
    'city':['new york','london','paris','tokyo','new york','paris'],
    'price':[200,150,300,250,180,320]
})

In [3]:
df

       city  price
0  new york    200
1    london    150
2     paris    300
3     tokyo    250
4  new york    180
5     paris    320

In [5]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [6]:
mean_price

{'london': 150.0, 'new york': 190.0, 'paris': 310.0, 'tokyo': 250.0}

In [7]:
df['city_encoded']=df['city'].map(mean_price)

In [10]:
df[['price','city_encoded']]

   price  city_encoded
0    200         190.0
1    150         150.0
2    300         310.0
3    250         250.0
4    180         190.0
5    320         310.0

In [18]:
import seaborn as sns
df=sns.load_dataset('tips')

In [21]:
mean_bill=df.groupby('time')['total_bill'].mean()

C:\Users\Asus\AppData\Local\Temp\ipykernel_14372\2861310115.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_bill=df.groupby('time')['total_bill'].mean()

In [22]:
df['time_target_encoded'] = df['time'].map(mean_bill)

In [23]:
df[['time','time_target_encoded']]

       time time_target_encoded
0    Dinner           20.797159
1    Dinner           20.797159
2    Dinner           20.797159
3    Dinner           20.797159
4    Dinner           20.797159
..      ...                 ...
239  Dinner           20.797159
240  Dinner           20.797159
241  Dinner           20.797159
242  Dinner           20.797159
243  Dinner           20.797159

[244 rows x 2 columns]