SQL(STRUCTURED QUERY LANGUAGE):it is a standard language for managing and manipulating relational databases.
SQLITE:it is a self contained ,serverless and zero-configuration database engine that is widely used for embedded databases system

In [1]:
#by default in Python three right SQL light comes installed.
import sqlite3

In [ ]:
#connect to an sqlite database
connection = sqlite3.connect(r"E:\udemy\example.db")
cursor = connection.cursor()

In [3]:
cursor=connection.cursor()

In [20]:
#create a table
cursor.execute('''Create table If not exists employees(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
               )'''
    )
##commit the changes
connection.commit()

In [21]:
cursor.execute('''
Select *from employees
    '''
    )

In [22]:
#insert the data in sqlite table
cursor.execute('''
Insert Into employees (name,age,department)
               values('krish',32,'data scientist')''')

cursor.execute('''
Insert Into employees (name,age,department)
               values('bob',31,'data analyst')''')

cursor.execute('''
Insert Into employees (name,age,department)
               values('atharv',30,'webd')''')
#commit the changes
connection.commit()

In [24]:
#query the data from table
cursor.execute('Select * from employees')
rows=cursor.fetchall()
#print the data
for row in rows:
    print(row)

(1, 'krish', 32, 'data scientist')
(2, 'bob', 31, 'data analyst')
(3, 'atharv', 30, 'webd')

In [23]:
cursor.execute("PRAGMA table_info(employees)")
print(cursor.fetchall())

[(0, 'id', 'INTEGER', 0, None, 1), (1, 'name', 'TEXT', 1, None, 0), (2, 'age', 'INTEGER', 0, None, 0), (3, 'department', 'TEXT', 0, None, 0)]

In [25]:
#update data inside the table
cursor.execute(''' 
UPDATE employees
Set age=34
where name='krish'
''')
connection.commit()

In [26]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()
#print the data
for row in rows:
    print(row)

(1, 'krish', 34, 'data scientist')
(2, 'bob', 31, 'data analyst')
(3, 'atharv', 30, 'webd')

In [27]:
#delete data from table
cursor.execute(''' 
DELETE from employees
where name='krish'
''')
connection.commit()

In [28]:
cursor.execute('Select * from employees')
rows=cursor.fetchall()
#print the data
for row in rows:
    print(row)

(2, 'bob', 31, 'data analyst')
(3, 'atharv', 30, 'webd')

In [31]:
#working with sales data
#connect to an sqlite database
connection=sqlite3.connect('sales_data.db')
cursor=connection.cursor()

#create a table for sales data
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT)
 ''')

#insert data into the sales table
sales_data=[
    ('2023-01-23','product1',100,'north'),
    ('2023-01-24','product2',200,'south'),
    ('2023-01-25','product3',300,'east')
]
cursor.executemany('''INSERT into sales(date,product,sales,region)
                   values(?,?,?,?) ''',sales_data)
connection.commit()

In [32]:
#query the data from table
cursor.execute('Select * from sales')
rows=cursor.fetchall()
#print the data
for row in rows:
    print(row)

(1, '2023-01-23', 'product1', 100, 'north')
(2, '2023-01-24', 'product2', 200, 'south')
(3, '2023-01-25', 'product3', 300, 'east')

In [33]:
#close the connection
connection.close()

In [ ]:
#query the data from table
cursor.execute('Select * from sales')
rows=cursor.fetchall()
#print the data
for row in rows:
    print(row)

##GIVE ERROR BECAUSE WE ALREADY CLOSED THE CONNECTION

ProgrammingError: Cannot operate on a closed database.